@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}
*{
    
}
header{
    display: block;
    font-family: var(--font1);
    background-color: black;
    color: white;
    text-align: center;
    height: 350px;
    margin: -134px -10px 0px -10px;
    padding: 0px;
    
}

p{
    text-align: left;
    font-family: var(--font2);
    width: 800px;
    height: 600px;
    padding-left: 20px;
    font-size: 3.5vw;
    max-lines: 7;
}
header > p{
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 1.5em;

}
h1{
    font-size: 100px;
    padding-top: 80px;
    
}
.setor{
    min-width: 8000px;
}
.setor1{
    height: 1000px;
}

.setor2{
    background-image: url('imagens/background001.jpg');
    height: 100vh;
    background-attachment: fixed;
}
.setor3{
    height: 1600px;
}

.setor4{
    background-image: url('imagens/background002.jpg');
    height: 100vh;
    background-attachment: fixed;
}


